// These colors are specific to the theme. Do not use in a package!

@very-light-gray: #caccd7;
@light-gray: #a2a8ad;
@gray: #373b41;
@dark-gray: #565a62;
@very-dark-gray: #1e1f25;

@cyan: #54c5ca;
@blue: #8599cc;
@purple: #ad85cc;
@green: #b5bd68;
@red: #ee6a6a;
@orange: #e2b79d;
@light-orange: #f0c674;
